<section class="flex flex-col justify-center items-center py-20">
  <h1 class="text-center font-bold text-4xl text-[#f2efe9] md:text-5xl md:max-w-[70%] lg:text-7xl">
    Dig into your <span class="text-orange-500">niche</span>.<br>
    Uncover <span class="text-orange-500">real problems</span> worth solving.</h1>
  <p class="text-center lg:w-[50%] py-8 text-lg text-neutral-300 font-semibold">RedditMine helps founders and indie hackers uncover niche pain points from subreddit discussions — without overbuilt tools or endless manual browsing.</p>
  <div class="flex justify-between items-center gap-4">
    <%= link_to "See How it works", "#", class: "#{secondary_button_class}" %>
    <%= link_to "Get Started", "#", class: "#{primary_button_class}" %>
  </div>>
</section>

<section class="py-20">
</section>
<section></section>
<section></section>
