<div>
  <h1 class="font-bold text-4xl text-[#f2efe9] md:text-5xl md:max-w-[70%] lg:text-6xl">The fastest way to <span class="text-orange-400">uncover problems</span> worth solving. Stop guessing what to build. Start mining for ideas.</h1>
  <p class="text-2xl md:text-3xl lg:text-4xl text-[#f2efe9] font-semibold">Paste a <span class="text-orange-400">subreddit</span>. Get instant insights</p>
  <%=  %>
</div>
