<nav class="lg:mx-auto lg:w-[80%] py-2 flex justify-between items-center">
  <div class="flex justify-center items-center">
    <%= navbar_hero_logo %>
    <span class="ml-2 text-orange-500 text-xl font-bold">Reddit</span>
    <span class="text-neutral-100 text-xl">Mine</span>
  </div>
  <ul class="hidden md:flex justify-center items-center gap-10 text-neutral-100">
    <li>Home</li>
    <li>Features</li>
    <li>Pricing</li>
  </ul>
  <%= sign_in_button %>
</nav>
