<nav class="py-2 flex justify-between items-center">
  <div class="flex justify-center items-center">
    <%= navbar_hero_logo %>
    <span class="ml-2 text-orange-400 text-xl font-bold">Reddit</span>
    <span class="text-neutral-100 text-xl">Mine</span>
  </div>
  <ul class="hidden md:flex justify-center items-center gap-6 text-neutral-100">
    <li>Home</li>
    <li>Features</li>
    <li>Pricing</li>
    <li>Sign In</li>
  </ul>
</nav>
