<%= turbo_stream.replace :subreddit_search_results do %>
  <%= turbo_frame_tag :subreddit_search_results do %>
    <h1 class="text-lg text-orange-500"> These are the results </h1>
  <% end %>
<% end %>
